@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }
body { font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; background: linear-gradient(180deg,#fff 0%, #f9fbfd 100%); }

.card { @apply bg-white rounded-2xl shadow-md p-6; }
